.init .input-area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.init .bubble-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 70px;
    display: block;
}

.init{
    overflow: hidden;
}