.index {
    height: 100%;
}

.index .search {
    height: 10%;
    box-sizing: border-box;
    padding: 2%;
    background-color: #3E50B4;
}

.index .graph {
    height: 90%;
}

.index .search .content {
    background-color: #ffffff;
    width: 96%;
    height: 96%;
    margin: 0 2%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: space-around;
}

.index .search .content input {
    outline: none;
    border: none;
}

.index .publish-bubble {
    width: 60px;
    position: absolute;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    right: 20px;
    bottom: 15%;
}

.index .publish-bubble img{
    margin: 20px auto;
    display: block;
    width: 20px;
    height: 20px;
}